/*
    Made by: Dylan Tokita
    Source: https://bl.ocks.org/alexmacy/770f14e11594623320db1270361331dc 
    Function: Performs the bubble sort 
*/

div {margin-left: 40px; margin-top: 20px}
        text {fill: black;}
        rect {fill: blue;}
        .sorted {fill: red;}
        .min {fill: red;}
        .testing {fill: red;}

body {
  font-family: Helvetica, sans-serif;
}

hr {
  border-color: gray;
}
input {
  width: 50px;
}

svg {
  display: block;
  width: 1000px;
  height: 1000px;
  margin-top: 25px;
}
rect {
  stroke: black;
  stroke-width: 2px;
  fill: lightyellow;
}
text {
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.completed rect {
  fill: lightgreen;
}

.chart div {
  font: 30px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: black;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

.btn-success {
  width: 140px;
}

.btn-primary {
  width: 140px;
}

.navbar {
  align-items: left;
}